.photoContainer {
    height: 100%;
    width: 100%
  }
  
.photoContainer img {
            height: 100%;
            width: 100%
}


.paper {
  height: 80%;
  width: 100%;
}

.paper button {
  height: 80%;
  width: 100%;
}