

.navbar {
    background-color: #c19e9f;
    margin-bottom: 10px;
}



  
#btn {
  background: black !important;
  border-color: black !important;
  color: #eee;
}

#btn #circle {
  background: black !important;
  border-color: black !important;
}

#btn:hover {
  background: black !important;
  border-color: black !important;
}


#btn:active {
  border-color: black !important;
}